a {
    text-decoration: none;
    color: #e5e7eb;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    transition-duration: 0.4s;
    font-size: 18px;
}

button:hover {
    background-color: aliceblue;
    color: black;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.front-image img {
    width: 500px;
}

.header {
    background-color: #1f2937;
    display: flex;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    margin-left: 250px;
}

.links {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 250px;
    gap: 16px;
}

.container {
    background-color: #1f2937;
    height: 500px;
}

.front {
    background-color: #1f2937;
    height: 250px;
    display: flex;
}

.front-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-left: 250px;
}

.front-body {
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 250px;
}

.front-image {
    margin-left: 280px;
}

.button-one {
    margin-left: 250px;
}

.info-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    padding-top: 50px;
}

.row {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    gap: 36px;
    margin-bottom: 100px;
}

.box {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 8px;
}

.box img {
    width: 150px;
    height: 150px;
}

.item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 150px;
    align-items: center;
}

.quote {
    background-color: #e5e7eb;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.name {
    align-self: flex-end;
    padding-right: 250px;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.italic {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.sign-up-window {
    background-color: #3882f6;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-two {
    border: 2px solid white;
    font-size: 24px;
    padding: 12px;
}

.sign-up-window p {
    color: white;
    font-size: 24px;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding: 24px;
}


